* {
    font: 1em/1.5 sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(45, 104, 182);
    flex-basis: 1 1 150px;
}

header>.title {
    font: 2em/1.5 sans-serif;
    font-weight: bold;
    color: whitesmoke;
    flex: 1 1 auto;
}

.color-displayer {
    padding: 5px;
    font: 4em/ 1.5 Arial;
    font-weight: bold;
}

.options-panel {
    display: flex;
    background: lightgrey;
    flex: 0 0 50px;
}

.options-panel>input[type="button"]:first-child {
    margin-left: 5%;
}

.options-panel>.difficulty-btns {
    margin-left: auto;
    margin-right: 5%;
}
.difficulty-btns > .game-option-btn:last-child {

    margin-left: 20px;
}

.options-panel input[type="button"] {
    height: 100%;
    flex: 0 1 50px;
}



.game-container {
    display: flex;
    background: rgb(8, 8, 8);
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 1 1 300px;
    margin: 0 auto;
}

.play-area {
    display: grid;
    max-width: 558px;
    width: 80%;
    height: 80%;
    background: grey;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
}

.red-text {
    color: red;
}

.green-text {
    color: green;
}

.blue-text {
    color: blue;
}

.punctuation {
    display: inline;
}


@media screen and (max-width: 500px) {
    .color-displayer {
        font-size: 2em;
    }
}